body{
    margin: 0;
    padding: 0;
}
.container{
    padding: 0;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}
.content{
    width: 100%;
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 83px;
    width: 100%;
    z-index: 9999999999;
    background-color: #fff;
    padding: 30px 0;
    top: 0; 
    .row{
        align-items: center;
        justify-content: space-between;
        nav{
            height: 83px;
            ul{
                display: flex;
                justify-content: space-between;
                list-style-type: none;
                margin: 0;
                height: 83px;
                padding: 0;
                border-bottom: 1px solid black;
                position: relative;
                li{
                    height: 83px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    padding: 0 10px;
                    background-position: -100px;
                    .menu{
                        position: absolute;
                        z-index: 9998;
                        top: 83px;
                        left: 0;
                        width: 100%;
                        transform: scaleY(0);
                        transform-origin: 0 0;
                        transition: 500ms;
                        color: #fff;
                        display: flex;
                        justify-content: start;
                        padding: 0 15px;
                        background-color: #000;
                        .chapter{
                            display: flex;
                            text-align: start;
                            justify-content: flex-start;
                            width: 100%;
                            height: 236px;
                            .chapter-kategories{
                                width: 25%;
                                .chapter-child{
                                    height: 85%;
                                    display: flex;
                                    flex-direction: column;
                                    flex-wrap: wrap;
                                    align-items: flex-start;
                                    justify-content: start;
                                    p{
                                        margin-right: 40px
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        background-color: #000;
                        background-position: center;
                        .menu{
                            z-index: 9999;
                            transform: scaleY(1);
                        }
                        a{
                            color: white;
                        }
                    }
                    a{
                        color: black;
                    }  
                }
            }
        }
        .icons{
            display: flex;
            justify-content: space-between;
            div{
                img{
                    width: 40px;
                    height: 40px;
                    transition: 200ms;
                    &:hover{
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}
main{
    margin-top: 114px;
    .preview{
        margin: 30px 0;
        height: calc(100vh - 113px);
        .row{
            height: 100%;
            .for-hes,.for-her,.for-them,.excl{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                text-transform: uppercase;
                font-size: 64px;
                color: #fff;
            }
            .for-hes,.for-her{
                writing-mode: vertical-lr; 
                text-orientation: upright; 

                text-align: center;
                position: relative;
                .text{

                    p{
                        margin: 0;
                    }
                }
            }
            .for-hes{
                display: flex;
                align-items: flex-end;
                justify-content: center;
                .description{
                    position: absolute;
                    left: 0;
                    top: 15vh;
                    width: 75%;
                    z-index: 3;
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;
                    p{
                        writing-mode: horizontal-tb;
                    }
                }
                .text{
                    p{
                        position: relative;
                        z-index: 99;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 2;
                        display: block;
                        height: 45%;
                        width: 25%;
                        background-color: #A3B3B3;
                        transition-delay: 0.5s;

                        animation: hes-color 0.5s linear forwards;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 3;
                        display: block;
                        height: 100%;
                        width: 25%;
                        background-color: #000;
                        transition-delay: 0.5s;

                        animation: hes-black 0.5s linear 0.5s forwards;
                    }
                }
                &:hover{
                    .description{
                        transform: scaleY(1);
                    }
                    .text{
                        &::before{
                            animation: hes-color-active 0.5s linear forwards;
                        }
                        &::after{
                            animation: hes-black-active 0.5s linear forwards;
                        }
                    }
                }
            }
            .for-her{
                .description{
                    position: absolute;
                    right: 0;
                    top: 15vh;
                    width: 75%;
                    z-index: 3;
                    transform-origin: 0 0;
                    transform: scaleY(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;
                    p{
                        writing-mode: horizontal-tb;
                    }
                }
                display: flex;
                align-items: flex-start;
                justify-content: center;
                .text{
                    p{
                        position: relative;
                        z-index: 99;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        display: block;
                        height: 50%;
                        width: 25%;
                        background-color: #024C49;

                        animation: her-color 0.5s linear forwards;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 3;
                        display: block;
                        height: 100%;
                        width: 25%;
                        background-color: #000;

                        animation: her-black 0.5s linear 0.5s forwards;
                    }
                }
                &:hover{
                    .description{
                        transform: scaleY(1);
                    }
                    .text{
                        &::before{
                            animation: her-color-active 0.5s linear forwards;
                        }
                        &::after{
                            animation: her-black-active 0.5s linear forwards;
                        }
                    }
                }
            }
            .for-them{
                position: relative;
                .description{
                    position: absolute;
                    right: 0;
                    top: 25%;
                    width: 100%;
                    font-size: 24px;
                    z-index: 3;
                    transform-origin: 0 0;
                    transform: scaleX(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;
                    p{
                        writing-mode: horizontal-tb;
                    }
                }
                .text{
                    p{
                        position: relative;
                        z-index: 99;
                        margin: 0;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 2;
                        display: block;
                        width: 50%;
                        height: 25%;
                        background-color: #E4B751;

                        animation: them-color 0.5s linear forwards;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 3;
                        display: block;
                        width: 100%;
                        height: 25%;
                        background-color: #000;

                        animation: them-black 0.5s linear forwards;
                    }
                }
                &:hover{
                    .description{
                        transform: scaleX(1);
                    }
                    .text{
                        &::before{
                            animation: them-color-active 0.5s linear forwards;
                        }
                        &::after{
                            animation: them-black-active 0.5s linear forwards;
                        }
                    }
                }
            }
            .excl{
                position: relative;
                .description{
                    position: absolute;
                    right: 0;
                    top: 25%;
                    width: 100%;
                    font-size: 24px;
                    z-index: 3;
                    transform-origin: 100% 0%;
                    transform: scaleX(0);
                    transition: 0.5s;
                    transition-delay: 0.5s;
                    p{
                        writing-mode: horizontal-tb;
                    }
                }
                .text{
                    margin-bottom: 3vh;
                    p{
                        position: relative;
                        z-index: 99;
                        margin: 0;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        z-index: 3;
                        display: block;
                        width: 100%;
                        height: 25%;
                        background-color: #000;
                        animation: excl-black 0.5s linear 0.25s forwards;
                        
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        z-index: 2;
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-color: #71645B;
                        animation: excl-color 0.5s linear forwards;
                    }
                }
                &:hover{
                    .description{
                        transform: scaleX(1);
                    }
                    .text{
                        &::before{
                            animation: excl-black-active 0.5s linear forwards;
                        }
                        &::after{
                            animation: excl-color-active 0.5s linear forwards;
                        }
                    }
                }
            }
            .for-them,.excl{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            .for-them-excl{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .for-hes{background-image: url(./../img/forHes.JPG);}
            .for-her{background-image: url(./../img/forHer.JPG);}
            .for-them{background-image: url(./../img/forThem.JPG); height: calc(50% - 7.5px);}
            .excl{background-image: url(./../img/Exclus.JPG);height:calc(50% - 7.5px); font-size: 24px;}
        } 
    }
    .danger{
        height: calc(100vh - 113px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        margin: 30px 0;
        .lent-one{
            background: url("./../img/danger-logo.png") repeat-x;
            width: 9999rem;
            height: 20vh;
            animation: lent 15s infinite linear;
        }
        .danger-content{
            max-width: 1440px;
            width: 50%;
            p{
                font-size: 36px;
                text-align: center;
                span{
                    padding: 0 5px;
                    color: #fff;
                    background-color: #000;
                }
            }
        }
        .lent-two{
            background: url("./../img/danger-logo.png") repeat-x;
            background-position-y: bottom;
            width: 9999rem;
            height: 20vh;
            animation: lent 15s infinite reverse linear;
        }
    }
    .slider-block{
        position: relative;
        margin: 30px 0;
        .main-slider{
            height: calc(100vh - 113px);
            display: flex;
            .col-track{
                height: 100%;
                .main-slider-col-item{
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;
                    padding-bottom: 50px;
                    align-items: center;
                    color: #fff;
                    font-size: 36px;
                }
            }
        }
        .main-slider-pred-arrow, .main-slider-next-arrow{
            position: absolute;
            height: 100%;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.2s;
            font-size: 0px;
            &::before{
                content: "";
                display: block;
                background-image: url(./../img/arrow.svg);
                width: 100px;
                height: 100px;
                position: absolute;
                top: 45%;
            }
            &:hover{
                background-color: rgba(0,0,0,0.5);
            }
        }
        .main-slider-pred-arrow{
            top: 0;
            left: 0;
            &::before{
                transform: rotate(180deg);
            }
        }
        .main-slider-next-arrow{
            top: 0;
            right: 0;
        }
        .main-slider-dots{
            position: absolute;
            bottom: 5vh;
            left: 15%;
            display: flex;
            justify-content: space-between;
            width: 70%;
            .main-slider-dots-dot{
                width: 10%;
                height: 10px;
                background-color: rgba(0,0,0,0.5);
                transition: 0.2s;
                &:hover{
                    background-color: rgba(255,255,255, 1);
                }
            }
        }
    }
    .seasons{
        margin: 30px 0;
        height: calc(100vh - 113px);
        .seasons-row{
            display: flex;
            justify-content: space-between;
            .seasons-row-item{
                height: 50%;
                width: calc(50% - 15px);
                position: relative;
                margin: 15px 0;
                p{
                    position: absolute;
                    top: 70%;
                    left: 0;
                    display: block;
                    z-index: 2;
                    color: #fff;
                    font-size: 36px;
                    background-color: #000;
                    padding: 0px 25px;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
                .seasons-row-items{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .column-item{
                        height: 100%;
                        width: 20%;
                    }
                }
                .spring-slider-col-item, .summer-slider-col-item, .autumn-slider-col-item, .winter-slider-col-item{
                    height: calc(45vh - 50px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .spring-slider-dots, .summer-slider-dots, .autumn-slider-dots, .winter-slider-dots{
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    bottom: 5%;
                    left: 0;
                    .spring-slider-dots-dot, .summer-slider-dots-dot, .autumn-slider-dots-dot, .winter-slider-dots-dot{
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 15%;
                        height: 10px;
                        transition: 200ms;
                        &:hover{
                            background-color: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
    }
    .social-and-forms{
        height: calc(100vh - 113px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 3px solid #000;
        .social{
            width: 50%;
            height: 100%;
            background-image: url("./../img/social-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            h2{
                display: block;
                font-size: 36px;
                height: 20%;
                padding: 50px 10%;
                border-bottom: 15px solid #000;
            }
            p{
                padding: 0 10%;
                font-size: 24px;
                span{
                    padding: 2px 10px;
                    color: #fff;
                    background-color: #000;
                }
            }
            .contact{
                padding: 0 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 70%;
                a{
                    text-decoration: none;
                }
                .vk, .telegram, .tiktok, .youtube, .zen{
                    display: flex;
                    width: 100%;
                    align-items: center;
                    justify-content: start;
                    margin: 0 auto;
                    .image{
                        width: 10vh;
                        height: 10vh;
                        border-radius: 50%;
                        margin: 0;
                        background-color: unset;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        transition: 200ms;
                    }
                    div{
                        width: 10%;
                        height: 5px;
                        background-color: #000;
                        margin: 0 10px;
                    }
                    p{
                        padding: 0;
                        margin: 0;
                        color: #000;
                    }
                }
                .vk{.image{
                        background-image: url("./../img/vk.svg");
                        &:hover{
                            transform: scale(1.1);
                            background-image: url("./../img/vk-active.svg");
                        }
                }}
                .telegram{.image{
                    background-image: url("./../img/telegram.svg");
                    &:hover{
                        transform: scale(1.1);
                        background-image: url("./../img/telegram-active.svg");
                    }
                }}
                .tiktok{.image{
                    background-image: url("./../img/tiktok.svg");
                    &:hover{
                        transform: scale(1.1);
                        background-image: url("./../img/tiktik-active.svg");
                    }
                }}
                .youtube{.image{
                    background-image: url("./../img/youtube.svg");
                    &:hover{
                        transform: scale(1.1);
                        background-image: url("./../img/youtube-active.svg");
                    }
                }}
                .zen{.image{
                    background-image: url("./../img/zen.svg");
                    &:hover{
                        transform: scale(1.1);
                        background-image: url("./../img/zen-active.svg");
                    }
                }}
            }
            }
            
        .forms{
            width: 50%;
            height: 100%;
            background-image: url("./../img/form-background.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            h2{
                display: block;
                font-size: 36px;
                height: 20%;
                padding: 50px 10%;
                text-align: end;
                color: #fff;
                border-bottom: 15px solid #fff;
            }
            p{
                text-align: end;
                color: #fff;
                padding: 0 10%;
                font-size: 24px;
            }
            form{
                padding: 0 10%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                height: 70%;
                p{
                    padding: 0;
                }
                input{
                    width: 75%;
                    margin: 0;
                    background-color: none;
                    display: block;
                    padding: 0.375rem 0.75rem;
                    font-family: inherit;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0);
                    background-clip: padding-box;
                    border: 1px solid #bdbdbd;
                    
                    text-align: end;
                    border-radius: 0.25rem;
                    transition: 200ms;
                    margin-bottom: 10px;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                    &:focus {
                        color: #212529;
                        background-color: #fff;
                        border-color: #bdbdbd;
                        outline: 0;
                        box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
                    }
                    
                }
                input[type="submit"]{
                    text-align: center;
                    margin: 50px 0;
                    transition: 200ms;
                    &:hover{
                        background-color: #bdbdbd;
                        color: #000;
                    }
                }
            }
        }
    }
    .dir-menu{
        color: #fff;
        background-color: #000;
        max-height: 100%;
        height: auto;
        .first-category{
            font-size: 0;
        }
        .second-category{
            font-size: 0;         
            label{
                margin: 0;
            }   
        }
        .tabs{
            margin: 15px 0;
        }
        .tab{     
            margin-bottom: 15px;       
            input[type="radio"] { 
                display: none;
            }
            .first-category-title{
                font-size: 16px;
                margin: 0px 0;
                cursor: pointer;
            }
            .tab-title {
                cursor: pointer;
            }
            .tab-content {

                left: 0; 
                margin-left: 15px;
                width: calc(100% - 20px); 
                min-height: 0;
                display: flex;
                flex-direction: column;
                a{
                    transition: 200ms;
                    color: #fff;
                    padding: 0 10px;
                }
            }
            &:checked + .tab-title {
                position: relative; /* Относительное позиционирование */
                background: #fff; /* Цвет фона */
                top: 1px; /* Сдвигаем вниз */
                z-index: 1; /* Отображаем поверх содержимого */
            }
            &:checked ~ .tab-content {
                a{
                    color: #fff;
                    padding: 0 10px;
                }
            }
        }
    }
    .tabs {
        position: relative; /* Относительное позиционирование */

       }
       
    .productes{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .productes-product{
            background-color: #000;
            width: 33%;
            overflow: hidden;
            position: relative;
            height: 450px;
            transition: 500ms;
            padding: 0 10px;
            .slick-arrow{
                top: 0;
                margin: 0;
                padding: 0;
                height: 300px;
                cursor: pointer;
                width: 25%;
                font-size: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 200ms;
                background-color: #807d7f;
                border: none;
                &:hover{
                    background-color: #5f5f5f;
                }
                &:before{
                    content: "";
                    width: 50px;
                    height: 50px;
                    display: flex;
                    background-image: url("./../img/arrow.svg");
                    background-size: contain;
                }
            }
            .slick-prev{
                
                &:before{
                    transform: rotate(180deg);
                }
            }
            .slick-next{
                right: 0;
            }
            .productes-product-images{
                display: flex;
                min-width: 0;
                justify-content: space-between;
                height: 300px;
                color: #fff;
                position: relative;
                margin: 0 -10px;
                .col-track{
                    transition: 500ms;
                }

                .productes-product-images-img{
                    width: 100%;
                    height: 300px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .productes-product-price, .productes-product-name{
                p{
                    font-size: 24px;
                    margin-bottom: 5px;
                    color: #fff;
                }
                
            }
            .productes-product-kategories{
                color: #fff;
                font-size: 16px;
                margin-bottom: 5px;
            }
            &:hover{
                background-color: #fff;
                border: 2px solid black;
                
                height: auto;
                .slider-product-pred-arrow, .slider-product-next-arrow{
                    background-color: rgba(0, 0, 0, 0.5);

                    &:hover{
                        background-color: rgba(0,0,0, 0.7);
                    }
                }
                .productes-product-price, .productes-product-name{
                    p{
                        color: #000;
                    }
                    
                }
                .productes-product-kategories{
                    color: #000;
                }
                .productes-product-sizes{
                    color: #000;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                .productes-product-links{
                    a{
                        color: #000;
                    }
                    
                    font-size: 16px;
                    margin-bottom: 15px;
                }
            }
            .productes-product-sizes{
                display: flex;
                color: #fff;
                font-size: 0px;
                margin-bottom: 0px;
                transition: 200ms;
            }
            .productes-product-links{
                font-size: 0px;
                margin-bottom: 0px;
                transition: 200ms;
                a{
                    color: #fff;
                    
                }
            }
        }
    }
    .product-page{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        .main-image{
            display: flex;
            justify-content: space-between;
            .slick-arrow{
                top: 0;
                margin: 0;
                padding: 0;
                height: 100%;
                cursor: pointer;
                width: 25%;
                font-size: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 200ms;
                background-color: #807d7f;
                border: none;
                &:hover{
                    background-color: #5f5f5f;
                }
                &:before{
                    content: "";
                    width: 50px;
                    height: 50px;
                    display: flex;
                    background-image: url("./../img/arrow.svg");
                    background-size: contain;
                }
            }
            .slick-prev{
                
                &:before{
                    transform: rotate(180deg);
                }
            }
            .slick-next{
                right: 0;
            }
            .slick-track{
                height: 100%;
            }
            .productes-product-images-img{
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .product-description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button{
                background-color: #fff;
                border: #000 1px solid;
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 10px;
                transition: 200ms;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
            }
            .prise{
                font-size: 36px;
                color: #fff;
                background-color: #000;
                border-radius: 10px;
                text-align: center;
                letter-spacing:5px;
            }
            .sizes{
                display: flex;
                justify-content: space-between;
                .size{
                    background-color: #fff;
                    color: #000;
                    border: #000 1px solid;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                        background-color: #000;
                        color: #fff;
                        font-weight: 900;
                    }
                }
            }
            .bay-btn{
                background-color: #000;
                color: #fff;
                &:hover{
                    background-color: #fff;
                    color: #000;
                }
            }
        }
        .product-random-slider{
            display: flex;
            flex-direction: column;
            .title{
                color: #fff;
                background-color: #000;
                text-align: center;
                font-size: 24px;
            }
            .vertical-slider{
                .slick-track{
                    flex-direction: column;
                }
                .productes-product-images-img{
                    height: 400px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    width: 100%;
                }
                .slick-arrow{
                    display: flex;
                    margin: 0;
                    padding: 0;
                    height: 50px;
                    cursor: pointer;
                    width: 100%;
                    font-size: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 200ms;
                    background-color: #000;
                    opacity: 0.5;
                    border: none;
                    &:hover{
                        opacity: 0.7;
                    }
                    &:before{
                        content: "";
                        width: 50px;
                        height: 50px;
                        display: flex;
                        background-image: url("./../img/arrow.svg");
                        background-size: contain;
                        transform: rotate(90deg);
                    }
                }
                .slick-prev{
                    &:before{
                        transform: rotate(-90deg);
                    }
                }

            }
            .product-price, .product-name, .product-kategories{
                padding:0 10px 10px 10px;
                background-color: #000;
                color: #fff;
                
            }
            .product-price{
                font-size: 24px;
            }
        }
    }
    .productes-random{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            margin-bottom: 30px;
            font-size: 36px;
        }
        .row{
            width: 100%;
            justify-content: space-between;
            .product-random{
                .productes-product-images-img{
                    height: 300px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }
                .product-random-description{
                    background-color: #000;
                    color: #fff;
                    padding: 10px;
                    .product-name, .product-kategories{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

footer{
    background-color: #D1D1D1;
    .footer-content{
        width: 100%;
        padding: 5vh 0;
        margin-top: 113px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            font-size: 24px;
        }
        .logo-and-social{
            .logo{
                background-image: url("./../img/logo.png");
                width: 100%;
                height: 100px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            .social{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 1rem 0;
                .vk, .telegram, .tiktok, .youtube, .zen{
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 50px;
                    height: 50px;

                }
                .vk{background-image: url("./../img/vk.svg"); margin: 0 0 0 40px;}
                .telegram{background-image: url("./../img/telegram.svg");margin: 0 40px 0 0;}
                .tiktok{background-image: url("./../img/tiktok.svg");}
                .youtube{background-image: url("./../img/youtube.svg");}
                .zen{background-image: url("./../img/zen.svg");}
            }
        }
        .nav-and-pay{
            nav{
                ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                        a{
                            color: #000;
                        }

                    }
                }
            }
            .pay{
                margin: 1rem 0;
                img{
                    width: 50px;
                }
            }
        }
        .help{
            ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
                li{
                    a{
                        color: #000;
                    }
                }
            }
        }
        .colStudio{
            .logo{
                background-image: url("./../img/ColStudio.png");
                width: 100%;
                height: 100px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: left;
                a{
                    display: block;
                    height: 100px;
                    width: 100%;
                }
            }
            p{
                width: 100%;
                margin: 20px 0;
                font-size: 24px;
            }
        }
    }
}

@keyframes hes-color{
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 100%;
        height: 45%;
    }
    100%{
        width: 25%;
        height: 45%;
    }
}
@keyframes hes-black{
    0%{
        height: 100%;
    }
    100%{
        height: 55%;
    }
}

@keyframes hes-color-active{
    0%{
        width: 25%;
        height: 45%;
    }
    50%{
        width: 100%;
        height: 45%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
@keyframes hes-black-active{
    0%{
        height: 55%;
    }
    100%{
        height: 100%;
    }
}

@keyframes her-color{
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 100%;
        height: 50%;
    }
    100%{
        width: 25%;
        height: 50%;
    }
}
@keyframes her-black{
    0%{
        height: 100%;
    }
    100%{
        height: 50%;
    }
}

@keyframes her-color-active{
    0%{
        width: 25%;
        height: 50%;
    }
    50%{
        width: 100%;
        height: 50%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
@keyframes her-black-active{
    0%{
        height: 50%;
    }
    100%{
        height: 100%;
    }
}

@keyframes them-color{
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 50%;
        height: 100%;
    }
    100%{
        width: 50%;
        height: 25%;
    }
}
@keyframes them-black{
    0%{
        width: 100%;
    }
    100%{
        width: 50%;
    }
}

@keyframes them-color-active{
    0%{
        width: 50%;
        height: 25%;
    }
    50%{
        width: 50%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}
@keyframes them-black-active{
    0%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

@keyframes excl-color{
    0%{
        width: 100%;
        height: 100%;
    }
    50%{
        width: 40%;
        height: 100%;
    }
    100%{
        width: 40%;
        height: 25%;
    }
}
@keyframes excl-black{
    0%{
        width: 100%;
        height: 25%;
    }
    100%{
        width: 60%;
        height: 25%;
    }
}

@keyframes excl-black-active{
    0%{
        width: 50%;
        height: 25%;
    }
    100%{
        width: 100%;
        height: 25%;
    }
}
@keyframes excl-color-active{
    0%{
        width: 40%;
        height: 25%;
    }
    50%{
        width: 40%;
        height: 100%;
    }
    100%{
        width: 100%;
        height: 100%;
    }
}

@keyframes lent{
    0%{
        margin-left: 0;
    }
    100%{
        margin-left: -1920px;
    }
}
.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
    width: 100%;
}
.slick-prev{
    left: -1vw  !important;
}
.slick-next{
    right: 0.5vw !important;
}