@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.content {
  width: 100%;
}

header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  height: 83px;
  width: 100%;
  z-index: 9999999999;
  background-color: #fff;
  padding: 30px 0;
  top: 0;
}
header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .row nav {
  height: 83px;
}
header .row nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  margin: 0;
  height: 83px;
  padding: 0;
  border-bottom: 1px solid black;
  position: relative;
}
header .row nav ul li {
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10px;
  background-position: -100px;
}
header .row nav ul li .menu {
  position: absolute;
  z-index: 9998;
  top: 83px;
  left: 0;
  width: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: 500ms;
  transition: 500ms;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 15px;
  background-color: #000;
}
header .row nav ul li .menu .chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 236px;
}
header .row nav ul li .menu .chapter .chapter-kategories {
  width: 25%;
}
header .row nav ul li .menu .chapter .chapter-kategories .chapter-child {
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
header .row nav ul li .menu .chapter .chapter-kategories .chapter-child p {
  margin-right: 40px;
}
header .row nav ul li:hover {
  background-color: #000;
  background-position: center;
}
header .row nav ul li:hover .menu {
  z-index: 9999;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
header .row nav ul li:hover a {
  color: white;
}
header .row nav ul li a {
  color: black;
}
header .row .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .row .icons div img {
  width: 40px;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
header .row .icons div img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main {
  margin-top: 114px;
}
main .preview {
  margin: 30px 0;
  height: calc(100vh - 113px);
}
main .preview .row {
  height: 100%;
}
main .preview .row .for-hes, main .preview .row .for-her, main .preview .row .for-them, main .preview .row .excl {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  font-size: 64px;
  color: #fff;
}
main .preview .row .for-hes, main .preview .row .for-her {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  position: relative;
}
main .preview .row .for-hes .text p, main .preview .row .for-her .text p {
  margin: 0;
}
main .preview .row .for-hes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .preview .row .for-hes .description {
  position: absolute;
  left: 0;
  top: 15vh;
  width: 75%;
  z-index: 3;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .preview .row .for-hes .description p {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}
main .preview .row .for-hes .text p {
  position: relative;
  z-index: 99;
}
main .preview .row .for-hes .text::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  height: 45%;
  width: 25%;
  background-color: #A3B3B3;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-animation: hes-color 0.5s linear forwards;
          animation: hes-color 0.5s linear forwards;
}
main .preview .row .for-hes .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: block;
  height: 100%;
  width: 25%;
  background-color: #000;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-animation: hes-black 0.5s linear 0.5s forwards;
          animation: hes-black 0.5s linear 0.5s forwards;
}
main .preview .row .for-hes:hover .description {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
main .preview .row .for-hes:hover .text::before {
  -webkit-animation: hes-color-active 0.5s linear forwards;
          animation: hes-color-active 0.5s linear forwards;
}
main .preview .row .for-hes:hover .text::after {
  -webkit-animation: hes-black-active 0.5s linear forwards;
          animation: hes-black-active 0.5s linear forwards;
}
main .preview .row .for-her {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .preview .row .for-her .description {
  position: absolute;
  right: 0;
  top: 15vh;
  width: 75%;
  z-index: 3;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .preview .row .for-her .description p {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}
main .preview .row .for-her .text p {
  position: relative;
  z-index: 99;
}
main .preview .row .for-her .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  height: 50%;
  width: 25%;
  background-color: #024C49;
  -webkit-animation: her-color 0.5s linear forwards;
          animation: her-color 0.5s linear forwards;
}
main .preview .row .for-her .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: block;
  height: 100%;
  width: 25%;
  background-color: #000;
  -webkit-animation: her-black 0.5s linear 0.5s forwards;
          animation: her-black 0.5s linear 0.5s forwards;
}
main .preview .row .for-her:hover .description {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}
main .preview .row .for-her:hover .text::before {
  -webkit-animation: her-color-active 0.5s linear forwards;
          animation: her-color-active 0.5s linear forwards;
}
main .preview .row .for-her:hover .text::after {
  -webkit-animation: her-black-active 0.5s linear forwards;
          animation: her-black-active 0.5s linear forwards;
}
main .preview .row .for-them {
  position: relative;
}
main .preview .row .for-them .description {
  position: absolute;
  right: 0;
  top: 25%;
  width: 100%;
  font-size: 24px;
  z-index: 3;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .preview .row .for-them .description p {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}
main .preview .row .for-them .text p {
  position: relative;
  z-index: 99;
  margin: 0;
}
main .preview .row .for-them .text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  width: 50%;
  height: 25%;
  background-color: #E4B751;
  -webkit-animation: them-color 0.5s linear forwards;
          animation: them-color 0.5s linear forwards;
}
main .preview .row .for-them .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: 25%;
  background-color: #000;
  -webkit-animation: them-black 0.5s linear forwards;
          animation: them-black 0.5s linear forwards;
}
main .preview .row .for-them:hover .description {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
main .preview .row .for-them:hover .text::before {
  -webkit-animation: them-color-active 0.5s linear forwards;
          animation: them-color-active 0.5s linear forwards;
}
main .preview .row .for-them:hover .text::after {
  -webkit-animation: them-black-active 0.5s linear forwards;
          animation: them-black-active 0.5s linear forwards;
}
main .preview .row .excl {
  position: relative;
}
main .preview .row .excl .description {
  position: absolute;
  right: 0;
  top: 25%;
  width: 100%;
  font-size: 24px;
  z-index: 3;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .preview .row .excl .description p {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}
main .preview .row .excl .text {
  margin-bottom: 3vh;
}
main .preview .row .excl .text p {
  position: relative;
  z-index: 99;
  margin: 0;
}
main .preview .row .excl .text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  display: block;
  width: 100%;
  height: 25%;
  background-color: #000;
  -webkit-animation: excl-black 0.5s linear 0.25s forwards;
          animation: excl-black 0.5s linear 0.25s forwards;
}
main .preview .row .excl .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #71645B;
  -webkit-animation: excl-color 0.5s linear forwards;
          animation: excl-color 0.5s linear forwards;
}
main .preview .row .excl:hover .description {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
main .preview .row .excl:hover .text::before {
  -webkit-animation: excl-black-active 0.5s linear forwards;
          animation: excl-black-active 0.5s linear forwards;
}
main .preview .row .excl:hover .text::after {
  -webkit-animation: excl-color-active 0.5s linear forwards;
          animation: excl-color-active 0.5s linear forwards;
}
main .preview .row .for-them, main .preview .row .excl {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
main .preview .row .for-them-excl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .preview .row .for-hes {
  background-image: url(./../img/forHes.JPG);
}
main .preview .row .for-her {
  background-image: url(./../img/forHer.JPG);
}
main .preview .row .for-them {
  background-image: url(./../img/forThem.JPG);
  height: calc(50% - 7.5px);
}
main .preview .row .excl {
  background-image: url(./../img/Exclus.JPG);
  height: calc(50% - 7.5px);
  font-size: 24px;
}
main .danger {
  height: calc(100vh - 113px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 30px 0;
}
main .danger .lent-one {
  background: url("./../img/danger-logo.png") repeat-x;
  width: 9999rem;
  height: 20vh;
  -webkit-animation: lent 15s infinite linear;
          animation: lent 15s infinite linear;
}
main .danger .danger-content {
  max-width: 1440px;
  width: 50%;
}
main .danger .danger-content p {
  font-size: 36px;
  text-align: center;
}
main .danger .danger-content p span {
  padding: 0 5px;
  color: #fff;
  background-color: #000;
}
main .danger .lent-two {
  background: url("./../img/danger-logo.png") repeat-x;
  background-position-y: bottom;
  width: 9999rem;
  height: 20vh;
  animation: lent 15s infinite reverse linear;
}
main .slider-block {
  position: relative;
  margin: 30px 0;
}
main .slider-block .main-slider {
  height: calc(100vh - 113px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .slider-block .main-slider .col-track {
  height: 100%;
}
main .slider-block .main-slider .col-track .main-slider-col-item {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 36px;
}
main .slider-block .main-slider-pred-arrow, main .slider-block .main-slider-next-arrow {
  position: absolute;
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0px;
}
main .slider-block .main-slider-pred-arrow::before, main .slider-block .main-slider-next-arrow::before {
  content: "";
  display: block;
  background-image: url(./../img/arrow.svg);
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
}
main .slider-block .main-slider-pred-arrow:hover, main .slider-block .main-slider-next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
main .slider-block .main-slider-pred-arrow {
  top: 0;
  left: 0;
}
main .slider-block .main-slider-pred-arrow::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .slider-block .main-slider-next-arrow {
  top: 0;
  right: 0;
}
main .slider-block .main-slider-dots {
  position: absolute;
  bottom: 5vh;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}
main .slider-block .main-slider-dots .main-slider-dots-dot {
  width: 10%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
main .slider-block .main-slider-dots .main-slider-dots-dot:hover {
  background-color: rgb(255, 255, 255);
}
main .seasons {
  margin: 30px 0;
  height: calc(100vh - 113px);
}
main .seasons .seasons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .seasons .seasons-row .seasons-row-item {
  height: 50%;
  width: calc(50% - 15px);
  position: relative;
  margin: 15px 0;
}
main .seasons .seasons-row .seasons-row-item p {
  position: absolute;
  top: 70%;
  left: 0;
  display: block;
  z-index: 2;
  color: #fff;
  font-size: 36px;
  background-color: #000;
  padding: 0px 25px;
}
main .seasons .seasons-row .seasons-row-item img {
  width: 100%;
  height: 100%;
}
main .seasons .seasons-row .seasons-row-item .seasons-row-items {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .seasons .seasons-row .seasons-row-item .seasons-row-items .column-item {
  height: 100%;
  width: 20%;
}
main .seasons .seasons-row .seasons-row-item .spring-slider-col-item, main .seasons .seasons-row .seasons-row-item .summer-slider-col-item, main .seasons .seasons-row .seasons-row-item .autumn-slider-col-item, main .seasons .seasons-row .seasons-row-item .winter-slider-col-item {
  height: calc(45vh - 50px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .seasons .seasons-row .seasons-row-item .spring-slider-dots, main .seasons .seasons-row .seasons-row-item .summer-slider-dots, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots, main .seasons .seasons-row .seasons-row-item .winter-slider-dots {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 5%;
  left: 0;
}
main .seasons .seasons-row .seasons-row-item .spring-slider-dots .spring-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .summer-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .autumn-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .winter-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .spring-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .summer-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .autumn-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .winter-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .spring-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .summer-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .autumn-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .winter-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .spring-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .summer-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .autumn-slider-dots-dot, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .winter-slider-dots-dot {
  background-color: rgba(0, 0, 0, 0.5);
  width: 15%;
  height: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .seasons .seasons-row .seasons-row-item .spring-slider-dots .spring-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .summer-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .autumn-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .spring-slider-dots .winter-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .spring-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .summer-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .autumn-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .summer-slider-dots .winter-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .spring-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .summer-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .autumn-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .autumn-slider-dots .winter-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .spring-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .summer-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .autumn-slider-dots-dot:hover, main .seasons .seasons-row .seasons-row-item .winter-slider-dots .winter-slider-dots-dot:hover {
  background-color: rgb(255, 255, 255);
}
main .social-and-forms {
  height: calc(100vh - 113px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #000;
}
main .social-and-forms .social {
  width: 50%;
  height: 100%;
  background-image: url("./../img/social-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .social-and-forms .social h2 {
  display: block;
  font-size: 36px;
  height: 20%;
  padding: 50px 10%;
  border-bottom: 15px solid #000;
}
main .social-and-forms .social p {
  padding: 0 10%;
  font-size: 24px;
}
main .social-and-forms .social p span {
  padding: 2px 10px;
  color: #fff;
  background-color: #000;
}
main .social-and-forms .social .contact {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 70%;
}
main .social-and-forms .social .contact a {
  text-decoration: none;
}
main .social-and-forms .social .contact .vk, main .social-and-forms .social .contact .telegram, main .social-and-forms .social .contact .tiktok, main .social-and-forms .social .contact .youtube, main .social-and-forms .social .contact .zen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0 auto;
}
main .social-and-forms .social .contact .vk .image, main .social-and-forms .social .contact .telegram .image, main .social-and-forms .social .contact .tiktok .image, main .social-and-forms .social .contact .youtube .image, main .social-and-forms .social .contact .zen .image {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  margin: 0;
  background-color: unset;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .social-and-forms .social .contact .vk div, main .social-and-forms .social .contact .telegram div, main .social-and-forms .social .contact .tiktok div, main .social-and-forms .social .contact .youtube div, main .social-and-forms .social .contact .zen div {
  width: 10%;
  height: 5px;
  background-color: #000;
  margin: 0 10px;
}
main .social-and-forms .social .contact .vk p, main .social-and-forms .social .contact .telegram p, main .social-and-forms .social .contact .tiktok p, main .social-and-forms .social .contact .youtube p, main .social-and-forms .social .contact .zen p {
  padding: 0;
  margin: 0;
  color: #000;
}
main .social-and-forms .social .contact .vk .image {
  background-image: url("./../img/vk.svg");
}
main .social-and-forms .social .contact .vk .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: url("./../img/vk-active.svg");
}
main .social-and-forms .social .contact .telegram .image {
  background-image: url("./../img/telegram.svg");
}
main .social-and-forms .social .contact .telegram .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: url("./../img/telegram-active.svg");
}
main .social-and-forms .social .contact .tiktok .image {
  background-image: url("./../img/tiktok.svg");
}
main .social-and-forms .social .contact .tiktok .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: url("./../img/tiktik-active.svg");
}
main .social-and-forms .social .contact .youtube .image {
  background-image: url("./../img/youtube.svg");
}
main .social-and-forms .social .contact .youtube .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: url("./../img/youtube-active.svg");
}
main .social-and-forms .social .contact .zen .image {
  background-image: url("./../img/zen.svg");
}
main .social-and-forms .social .contact .zen .image:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-image: url("./../img/zen-active.svg");
}
main .social-and-forms .forms {
  width: 50%;
  height: 100%;
  background-image: url("./../img/form-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .social-and-forms .forms h2 {
  display: block;
  font-size: 36px;
  height: 20%;
  padding: 50px 10%;
  text-align: end;
  color: #fff;
  border-bottom: 15px solid #fff;
}
main .social-and-forms .forms p {
  text-align: end;
  color: #fff;
  padding: 0 10%;
  font-size: 24px;
}
main .social-and-forms .forms form {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%;
}
main .social-and-forms .forms form p {
  padding: 0;
}
main .social-and-forms .forms form input {
  width: 75%;
  margin: 0;
  background-color: none;
  display: block;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  text-align: end;
  border-radius: 0.25rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-bottom: 10px;
}
main .social-and-forms .forms form input:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
main .social-and-forms .forms form input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
main .social-and-forms .forms form input[type=submit] {
  text-align: center;
  margin: 50px 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .social-and-forms .forms form input[type=submit]:hover {
  background-color: #bdbdbd;
  color: #000;
}
main .dir-menu {
  color: #fff;
  background-color: #000;
  max-height: 100%;
  height: auto;
}
main .dir-menu .first-category {
  font-size: 0;
}
main .dir-menu .second-category {
  font-size: 0;
}
main .dir-menu .second-category label {
  margin: 0;
}
main .dir-menu .tabs {
  margin: 15px 0;
}
main .dir-menu .tab {
  margin-bottom: 15px;
}
main .dir-menu .tab input[type=radio] {
  display: none;
}
main .dir-menu .tab .first-category-title {
  font-size: 16px;
  margin: 0px 0;
  cursor: pointer;
}
main .dir-menu .tab .tab-title {
  cursor: pointer;
}
main .dir-menu .tab .tab-content {
  left: 0;
  margin-left: 15px;
  width: calc(100% - 20px);
  min-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .dir-menu .tab .tab-content a {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: #fff;
  padding: 0 10px;
}
main .dir-menu .tab:checked + .tab-title {
  position: relative;
  /* Относительное позиционирование */
  background: #fff;
  /* Цвет фона */
  top: 1px;
  /* Сдвигаем вниз */
  z-index: 1;
  /* Отображаем поверх содержимого */
}
main .dir-menu .tab:checked ~ .tab-content a {
  color: #fff;
  padding: 0 10px;
}
main .tabs {
  position: relative;
  /* Относительное позиционирование */
}
main .productes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .productes .productes-product {
  background-color: #000;
  width: 33%;
  overflow: hidden;
  position: relative;
  height: 450px;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding: 0 10px;
}
main .productes .productes-product .slick-arrow {
  top: 0;
  margin: 0;
  padding: 0;
  height: 300px;
  cursor: pointer;
  width: 25%;
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #807d7f;
  border: none;
}
main .productes .productes-product .slick-arrow:hover {
  background-color: #5f5f5f;
}
main .productes .productes-product .slick-arrow:before {
  content: "";
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./../img/arrow.svg");
  background-size: contain;
}
main .productes .productes-product .slick-prev:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .productes .productes-product .slick-next {
  right: 0;
}
main .productes .productes-product .productes-product-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 300px;
  color: #fff;
  position: relative;
  margin: 0 -10px;
}
main .productes .productes-product .productes-product-images .col-track {
  -webkit-transition: 500ms;
  transition: 500ms;
}
main .productes .productes-product .productes-product-images .productes-product-images-img {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .productes .productes-product .productes-product-price p, main .productes .productes-product .productes-product-name p {
  font-size: 24px;
  margin-bottom: 5px;
  color: #fff;
}
main .productes .productes-product .productes-product-kategories {
  color: #fff;
  font-size: 16px;
  margin-bottom: 5px;
}
main .productes .productes-product:hover {
  background-color: #fff;
  border: 2px solid black;
  height: auto;
}
main .productes .productes-product:hover .slider-product-pred-arrow, main .productes .productes-product:hover .slider-product-next-arrow {
  background-color: rgba(0, 0, 0, 0.5);
}
main .productes .productes-product:hover .slider-product-pred-arrow:hover, main .productes .productes-product:hover .slider-product-next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
main .productes .productes-product:hover .productes-product-price p, main .productes .productes-product:hover .productes-product-name p {
  color: #000;
}
main .productes .productes-product:hover .productes-product-kategories {
  color: #000;
}
main .productes .productes-product:hover .productes-product-sizes {
  color: #000;
  font-size: 16px;
  margin-bottom: 5px;
}
main .productes .productes-product:hover .productes-product-links {
  font-size: 16px;
  margin-bottom: 15px;
}
main .productes .productes-product:hover .productes-product-links a {
  color: #000;
}
main .productes .productes-product .productes-product-sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 0px;
  margin-bottom: 0px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .productes .productes-product .productes-product-links {
  font-size: 0px;
  margin-bottom: 0px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .productes .productes-product .productes-product-links a {
  color: #fff;
}
main .product-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
main .product-page .main-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .product-page .main-image .slick-arrow {
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: pointer;
  width: 25%;
  font-size: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #807d7f;
  border: none;
}
main .product-page .main-image .slick-arrow:hover {
  background-color: #5f5f5f;
}
main .product-page .main-image .slick-arrow:before {
  content: "";
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./../img/arrow.svg");
  background-size: contain;
}
main .product-page .main-image .slick-prev:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .product-page .main-image .slick-next {
  right: 0;
}
main .product-page .main-image .slick-track {
  height: 100%;
}
main .product-page .main-image .productes-product-images-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .product-page .product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .product-page .product-description button {
  background-color: #fff;
  border: #000 1px solid;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  -webkit-transition: 200ms;
  transition: 200ms;
}
main .product-page .product-description button:hover {
  background-color: #000;
  color: #fff;
}
main .product-page .product-description .prise {
  font-size: 36px;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  letter-spacing: 5px;
}
main .product-page .product-description .sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .product-page .product-description .sizes .size {
  background-color: #fff;
  color: #000;
  border: #000 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .product-page .product-description .sizes .size:hover {
  background-color: #000;
  color: #fff;
  font-weight: 900;
}
main .product-page .product-description .bay-btn {
  background-color: #000;
  color: #fff;
}
main .product-page .product-description .bay-btn:hover {
  background-color: #fff;
  color: #000;
}
main .product-page .product-random-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .product-page .product-random-slider .title {
  color: #fff;
  background-color: #000;
  text-align: center;
  font-size: 24px;
}
main .product-page .product-random-slider .vertical-slider .slick-track {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .product-page .product-random-slider .vertical-slider .productes-product-images-img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
main .product-page .product-random-slider .vertical-slider .slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  height: 50px;
  cursor: pointer;
  width: 100%;
  font-size: 0px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #000;
  opacity: 0.5;
  border: none;
}
main .product-page .product-random-slider .vertical-slider .slick-arrow:hover {
  opacity: 0.7;
}
main .product-page .product-random-slider .vertical-slider .slick-arrow:before {
  content: "";
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("./../img/arrow.svg");
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
main .product-page .product-random-slider .vertical-slider .slick-prev:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
main .product-page .product-random-slider .product-price, main .product-page .product-random-slider .product-name, main .product-page .product-random-slider .product-kategories {
  padding: 0 10px 10px 10px;
  background-color: #000;
  color: #fff;
}
main .product-page .product-random-slider .product-price {
  font-size: 24px;
}
main .productes-random {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .productes-random h2 {
  margin-bottom: 30px;
  font-size: 36px;
}
main .productes-random .row {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .productes-random .row .product-random .productes-product-images-img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .productes-random .row .product-random .product-random-description {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
main .productes-random .row .product-random .product-random-description .product-name, main .productes-random .row .product-random .product-random-description .product-kategories {
  font-size: 14px;
}

footer {
  background-color: #D1D1D1;
}
footer .footer-content {
  width: 100%;
  padding: 5vh 0;
  margin-top: 113px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer-content h4 {
  font-size: 24px;
}
footer .footer-content .logo-and-social .logo {
  background-image: url("./../img/logo.png");
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
footer .footer-content .logo-and-social .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}
footer .footer-content .logo-and-social .social .vk, footer .footer-content .logo-and-social .social .telegram, footer .footer-content .logo-and-social .social .tiktok, footer .footer-content .logo-and-social .social .youtube, footer .footer-content .logo-and-social .social .zen {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}
footer .footer-content .logo-and-social .social .vk {
  background-image: url("./../img/vk.svg");
  margin: 0 0 0 40px;
}
footer .footer-content .logo-and-social .social .telegram {
  background-image: url("./../img/telegram.svg");
  margin: 0 40px 0 0;
}
footer .footer-content .logo-and-social .social .tiktok {
  background-image: url("./../img/tiktok.svg");
}
footer .footer-content .logo-and-social .social .youtube {
  background-image: url("./../img/youtube.svg");
}
footer .footer-content .logo-and-social .social .zen {
  background-image: url("./../img/zen.svg");
}
footer .footer-content .nav-and-pay nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer-content .nav-and-pay nav ul li a {
  color: #000;
}
footer .footer-content .nav-and-pay .pay {
  margin: 1rem 0;
}
footer .footer-content .nav-and-pay .pay img {
  width: 50px;
}
footer .footer-content .help ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer .footer-content .help ul li a {
  color: #000;
}
footer .footer-content .colStudio .logo {
  background-image: url("./../img/ColStudio.png");
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
footer .footer-content .colStudio .logo a {
  display: block;
  height: 100px;
  width: 100%;
}
footer .footer-content .colStudio p {
  width: 100%;
  margin: 20px 0;
  font-size: 24px;
}

@-webkit-keyframes hes-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 45%;
  }
  100% {
    width: 25%;
    height: 45%;
  }
}

@keyframes hes-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 45%;
  }
  100% {
    width: 25%;
    height: 45%;
  }
}
@-webkit-keyframes hes-black {
  0% {
    height: 100%;
  }
  100% {
    height: 55%;
  }
}
@keyframes hes-black {
  0% {
    height: 100%;
  }
  100% {
    height: 55%;
  }
}
@-webkit-keyframes hes-color-active {
  0% {
    width: 25%;
    height: 45%;
  }
  50% {
    width: 100%;
    height: 45%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes hes-color-active {
  0% {
    width: 25%;
    height: 45%;
  }
  50% {
    width: 100%;
    height: 45%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes hes-black-active {
  0% {
    height: 55%;
  }
  100% {
    height: 100%;
  }
}
@keyframes hes-black-active {
  0% {
    height: 55%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes her-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 50%;
  }
  100% {
    width: 25%;
    height: 50%;
  }
}
@keyframes her-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 100%;
    height: 50%;
  }
  100% {
    width: 25%;
    height: 50%;
  }
}
@-webkit-keyframes her-black {
  0% {
    height: 100%;
  }
  100% {
    height: 50%;
  }
}
@keyframes her-black {
  0% {
    height: 100%;
  }
  100% {
    height: 50%;
  }
}
@-webkit-keyframes her-color-active {
  0% {
    width: 25%;
    height: 50%;
  }
  50% {
    width: 100%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes her-color-active {
  0% {
    width: 25%;
    height: 50%;
  }
  50% {
    width: 100%;
    height: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes her-black-active {
  0% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
@keyframes her-black-active {
  0% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}
@-webkit-keyframes them-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 50%;
    height: 100%;
  }
  100% {
    width: 50%;
    height: 25%;
  }
}
@keyframes them-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 50%;
    height: 100%;
  }
  100% {
    width: 50%;
    height: 25%;
  }
}
@-webkit-keyframes them-black {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
@keyframes them-black {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}
@-webkit-keyframes them-color-active {
  0% {
    width: 50%;
    height: 25%;
  }
  50% {
    width: 50%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes them-color-active {
  0% {
    width: 50%;
    height: 25%;
  }
  50% {
    width: 50%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes them-black-active {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@keyframes them-black-active {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes excl-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 40%;
    height: 100%;
  }
  100% {
    width: 40%;
    height: 25%;
  }
}
@keyframes excl-color {
  0% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 40%;
    height: 100%;
  }
  100% {
    width: 40%;
    height: 25%;
  }
}
@-webkit-keyframes excl-black {
  0% {
    width: 100%;
    height: 25%;
  }
  100% {
    width: 60%;
    height: 25%;
  }
}
@keyframes excl-black {
  0% {
    width: 100%;
    height: 25%;
  }
  100% {
    width: 60%;
    height: 25%;
  }
}
@-webkit-keyframes excl-black-active {
  0% {
    width: 50%;
    height: 25%;
  }
  100% {
    width: 100%;
    height: 25%;
  }
}
@keyframes excl-black-active {
  0% {
    width: 50%;
    height: 25%;
  }
  100% {
    width: 100%;
    height: 25%;
  }
}
@-webkit-keyframes excl-color-active {
  0% {
    width: 40%;
    height: 25%;
  }
  50% {
    width: 40%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes excl-color-active {
  0% {
    width: 40%;
    height: 25%;
  }
  50% {
    width: 40%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@-webkit-keyframes lent {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1920px;
  }
}
@keyframes lent {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1920px;
  }
}
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-list {
  overflow: hidden;
  width: 100%;
}

.slick-prev {
  left: -1vw !important;
}

.slick-next {
  right: 0.5vw !important;
}